.login{
    color: #fff;
  }
  .login a{
    color: #d39e00;
    font-weight: 600;
    text-decoration: none;
  }
  h6{
    margin-top: -18px;
    margin-left: 33px;
    color: #eae3e3;
  }
  // .form-group{
  //   margin-top: 30px;
  // }
 