p{  
    margin-top: -10px;
    margin-left: 150px;
    color: #ffffff;
    font-weight: bold ;
}
.login{
    color: #fff;
  }
  .login a{
    color: #d39e00;
    font-weight: 600;
    text-decoration: none;
    margin-top: -10px;
  }
  h6{
    margin-top: -23px;
    margin-left: 33px;
    color: #eae3e3;
  }
  .form-group{
    margin-top: 10px;
  }
  .row{
    margin-top: -20px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
   // margin-bottom: 60px;
  }